<?xml version="1.0" ?>
<!--
/**
 * Copyright © Hibrido. All rights reserved.
 * https://www.hibrido.com.br/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hb_product_price>
            <general>
                <active>0</active>
            </general>
            <settings>
                <background_color><![CDATA[#89CFF3]]></background_color>
                <button_text_color><![CDATA[#00A9FF]]></button_text_color>
                <button_background_color><![CDATA[#CDF5FD]]></button_background_color>
            </settings>
            <visibility>
                <mobile>0</mobile>
                <desktop>0</desktop>
            </visibility>
        </hb_product_price>
    </default>
</config>

